@import './assets/styles/fonts.scss';
@import './assets/fonts/icons/style';
@import './assets/styles/_variables';
@import './assets/styles/_media';
@import './assets/styles/antdLocal';

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

p, h2 {
  margin: 0px;
}

body {
  font-family: Poppins-Medium;
  font-size: 12px;
  background-color: $bodyColor;
  height: auto;
}


.containerBox {
  width: 100%;
  height: calc(100vh - 47px);
  display: flex;
  align-items: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('https://images.unsplash.com/photo-1505228395891-9a51e7e86bf6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1490&q=80');
  @include media(md-min) {
    height: calc(100vh - 57px);
  }

  .bgCover {
    background-color: $colorLightGray;
  } 


}