@import './assets/styles/fonts.scss';
@import './assets/fonts/icons/style';
@import './assets/styles/_variables';
@import './assets/styles/_media';
@import './assets/styles/antdLocal';

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

p, h2 {
  margin: 0px;
}

body {
  font-family: Poppins-Medium;
  font-size: 12px;
  background-color: $bodyColor;
  height: auto;
}


.containerBox {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  animation: fadeInFromNone 2s ease-out;

  .contentText {
   position: absolute;
   display: none;
   left: 5%;
   bottom: 15%;
   @include media(md-min) {
      display: block;
    }
    
    h1 {
      color: white;
      @include media(md-min) {
        font-size: 2rem;
      }
      @include media(lg-min) {
        font-size: 2.5rem;
      }
    }
  }

  .water {
    position: absolute;
    background-image: url("./assets/img/bgHome.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    filter: url('#turbulence');
  }
}

@keyframes fadeInFromNone {
  0% {
      display: none;
      opacity: 0;
  }

  1% {
      display: block;
      opacity: 0;
  }

  100% {
      display: block;
      opacity: 1;
  }
}